<div class="main-container">
  <div class="content-container">
    <div class="content-area" cds-layout="p:xl">
      <form [formGroup]="form" cds-layout="vertical gap:md">
        <cds-file>
          <label>Choose files</label>
          <input
            type="file"
            multiple
            formControlName="files"
            onclick="this.value = null"
            (change)="onFileChange($event)"
          />
        </cds-file>
        <div cds-layout="horizontal gap:md">
          <cds-button [disabled]="!form.valid" (click)="disable()">
            Disable input
          </cds-button>
          <cds-button type="button" class="btn btn-primary" (click)="enable()">
            Enable input
          </cds-button>
        </div>
      </form>
    </div>
  </div>
</div>
